@import "../../color.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;

  .tasks-list {
    margin-bottom: 3rem;
  }

  form {
    display: flex;
  }
  input {
    font-family: "Montserrat";
    height: 2rem;
    box-sizing: border-box;
  }
  button {
    height: 2rem;
    margin-left: 2rem;
  }
}
